/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*header*/
html {
  font-family: "Montserrat", sans-serif;
}

/*HEADER UPBAR*/
.header-upbar {
  background-color: #E5E5E5;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo_container {
  display: flex;
}

.logo {
  width: 50px;
  height: 60px;
  align-self: center;
  padding: 20px 10px 20px 20px;
}

.logo_container span {
  align-self: center;
  color: #2D4059;
}

.right-zone {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}

.right-zone > p {
  font-weight: 700;
  text-align: right;
  font-size: 22px;
}

.steps {
  display: flex;
  padding-top: 20px;
}

.step > p {
  font-size: 14px;
  font-weight: 400;
}

.icons1 {
  padding: 2px 9px 2px 9px;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  background-color: #EA5455;
  color: #FFFFFF;
  margin-left: 20px;
}

.icons2 {
  padding: 2px 8px 3px 8px;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  background-color: #EA5455;
  color: #FFFFFF;
  margin-left: 20px;
}

.icons3 {
  padding: 2px 8px 3px 8px;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  background-color: #EA5455;
  color: #FFFFFF;
  margin-left: 20px;
}

/*HEADER BOTTOMBAR*/
.header-bottombar {
  background-color: #2D4059;
  margin: auto;
  font-size: 1rem;
}

.bottombar-container {
  display: flex;
  margin: 0 auto;
  height: 80px;
  max-width: 1114px;
  padding: 10px 0 15px 0;
  justify-content: space-between;
  align-items: center;
}

#categories {
  background-color: #E5E5E5;
  border: none;
  border-radius: 7px;
  height: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin-right: 10px;
}

.search {
  display: flex;
}

#searchbar {
  border-radius: 7px;
  width: 299px;
  height: 29px;
  border: none;
}

#rechercher {
  background: #EA5455;
  border: none;
  width: 127px;
  height: 29px;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: 700;
  margin-left: 10px;
}

.header-navbar {
  margin-left: 20px;
}

.header-navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navbar a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-right: 20px;
}

nav .connexion {
  padding-right: 7px;
  margin-right: 0px;
}

.fa-solid {
  color: #FFFFFF;
  font-weight: none;
}

.fa-angle-down {
  margin-left: 0px;
}

.fa-cart-shopping {
  font-size: 25px;
  margin-left: 20px;
}

.icons4 {
  font-size: 11px;
  padding: 3px 5px 3px 5px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #EA5455;
  margin-left: 10px;
}

.shopping {
  display: flex;
  align-items: center;
}

/* === REUSABLE STYLES === */
.title {
  margin-bottom: 2rem;
  color: #EA5455;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "montserrat", sans-serif;
}

section {
  margin-bottom: 6rem;
}

/* === HOMEPAGE === */
.homepage {
  margin: 3rem auto;
  max-width: 1000px;
}

/* === BEST SALES === */
.best-sales {
  display: flex;
}
.best-sales .fa-solid {
  margin: 2rem 0;
  font-size: 2rem;
  color: #EA5455;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.title-best-sales {
  margin-left: 2rem;
}

.best-sales__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-article {
  padding: 1rem 1rem 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 0.2rem;
  box-shadow: -1px 2px 15px 1px rgba(0, 0, 0, 0.26);
}
.product-article .image {
  width: 180px;
  height: 150px;
  background-color: rgb(80, 80, 80);
}
.product-article .product-article__details {
  margin-top: 0.5rem;
}
.product-article .product-article__details h2 {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}
.product-article .product-article__details .product-article__details__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-article .product-article__details .product-article__details__bottom span {
  font-size: 0.7rem;
}
.product-article .product-article__details .product-article__details__bottom p {
  color: #4DCF62;
}

/* === CATEGORIES === */
.title-categories {
  margin-left: 1rem;
}

.categories h2 span {
  color: black;
  font-size: 0.8rem;
  font-weight: 100;
  margin-left: 0.5rem;
}

.categories__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories__container div {
  height: 80px;
  width: 80px;
  background-color: #2D4059;
  border-radius: 30px;
  color: #E5E5E5;
  margin: 0.5rem 1rem;
  padding: 1rem;
  text-align: center;
}
.categories__container div .fa-solid {
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
}
.categories__container div p {
  font-weight: bold;
  font-size: 0.8rem;
  font-family: "montserrat", sans-serif;
}

/* === CHOICES === */
.title-choices {
  margin-left: 1.3rem;
}

.choices__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.choices__container div img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 1rem;
}
.choices__container div p {
  text-align: center;
  color: #EA5455;
  font-weight: bold;
  font-size: 1rem;
  font-family: "montserrat", sans-serif;
}

.container-products {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  text-align: center;
  margin: 80px auto;
  padding-bottom: 600px;
}
.container-products aside {
  margin: 0 50px 0 6px;
}
.container-products aside h2 {
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container-products aside p {
  color: #616060;
  font-weight: 400;
  margin: 10px auto;
  display: flex;
  align-items: center;
}
.container-products aside p i {
  font-size: 0.6rem;
  margin-right: 10px;
}
.container-products .results {
  width: 800px;
  height: auto;
}
.container-products .results .show_bar {
  display: flex;
  justify-content: space-between;
}
.container-products .results .show_bar .show_filter {
  display: flex;
  width: 150px;
  justify-content: space-between;
}
.container-products .results .show_bar .show_filter h2 {
  font-weight: 500;
  font-size: 1rem;
  color: #2D4059;
}
.container-products .results .show_bar .show_filter i {
  font-size: 1.8rem;
  color: #2D4059;
  cursor: pointer;
}
.container-products .results .show_bar .show_results_button {
  display: flex;
  align-items: center;
  background-color: #EA5455;
  border-radius: 6px;
  padding: 0 10px;
}
.container-products .results .show_bar .show_results_button h1 {
  color: #F4F4F4;
}
.container-products .results .show_bar .show_results_button i {
  color: #F4F4F4;
  margin-left: 10px;
  cursor: pointer;
}
.container-products .results .container_result_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 57px;
  row-gap: 57px;
  margin-top: 40px;
}
.container-products .results .container_result_products .product {
  text-align: left;
  color: #2D4059;
  position: relative;
  margin-top: 0;
}
.container-products .results .container_result_products .product img {
  width: 250px;
}
.container-products .results .container_result_products .product h1 {
  font-weight: 600;
  margin-bottom: 3px;
}
.container-products .results .container_result_products .product p:last-child {
  color: green;
  margin-top: 3px;
}
.container-products .results .container_result_products .product:nth-child(1) {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}
.container-products .results .container_result_products .product:nth-child(1) .info {
  margin-left: 50px;
}
.container-products .results .container_result_products .product:nth-child(1) .info h1 {
  margin-bottom: 12px;
}
.container-products .results .container_result_products .product:nth-child(1) .info p {
  margin-bottom: 12px;
}
.container-products .results .container_result_products .product:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.container-products .results .container_result_products .product:nth-child(2) p:last-child {
  position: absolute;
  right: 25px;
}
.container-products .results .container_result_products .product:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.container-products .results .container_result_products .product:nth-child(3) p:last-child {
  position: absolute;
  right: 25px;
}
.container-products .results .container_result_products .product:nth-child(4) {
  grid-row: 2/3;
  grid-column: 3/4;
}
.container-products .results .container_result_products .product:nth-child(4) p:last-child {
  position: absolute;
  right: 25px;
}

/* ===== PRODUCT ===== */
.product {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 900px;
}

.product__container {
  display: flex;
}
.product__container .main-image {
  background-color: #E5E5E5;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.product__container .main-image img {
  width: 300px;
  height: 300px;
  padding: 1rem;
  object-fit: cover;
}

.product__details h2, .product__details p, .product__details span {
  font-family: "montserrat", sans-serif;
  margin-bottom: 1rem;
}
.product__details h2, .product__details span {
  font-weight: bold;
}
.product__details p {
  max-width: 380px;
  margin-top: 1rem;
}
.product__details .add-basket__container {
  display: flex;
  align-items: center;
}
.product__details .add-basket__container .number-product {
  display: flex;
  margin-right: 1rem;
}
.product__details .add-basket__container .number-product p {
  background-color: #E5E5E5;
  padding: 0.5rem;
  width: 20px;
  height: 20px;
  text-align: center;
}
.product__details .add-basket__container .number-product p:nth-child(1) {
  border-right: solid 1px black;
}
.product__details .add-basket__container .number-product p:nth-child(2) {
  color: #EA5455;
}
.product__details .add-basket__container .number-product p:nth-child(3) {
  border-left: solid 1px black;
}
.product__details .add-basket__container button {
  background-color: #EA5455;
  color: #E5E5E5;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-right: 1rem;
}
.product__details .add-basket__container .favorite {
  background-color: #E5E5E5;
  border-radius: 5px;
  padding: 1rem;
}

.product .miniatures__container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

.information {
  background-color: #2D4059;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-family: "Montserrat", sans-serif;
}
.information .info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
.information .info_container i {
  background-color: #fff;
  border-radius: 100px;
  padding: 11px 9px;
  font-size: 1.1rem;
  color: #EA5455;
  margin: auto;
  align-self: center;
}
.information .info_container i:nth-child(1) {
  padding: 11px 13px;
}
.information .info_container section {
  max-width: 220px;
  margin-bottom: 0;
}
.information .info_container section h3 {
  color: #f4F4F4;
  font-weight: 700;
  font-size: 1.1rem;
}
.information .info_container section p {
  color: #F4F4F4;
  font-size: 0.9rem;
}

.nav_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4F4F4;
  font-family: "Montserrat", sans-serif;
}
.nav_container nav {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: #2D4059;
}
.nav_container nav a:nth-child(2) {
  margin: 30px 0;
}
.nav_container nav:nth-child(2) {
  text-align: end;
}

footer {
  background-color: #2D4059;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
footer a {
  color: #f4F4F4;
  font-weight: 400;
  font-size: 1.2rem;
}
footer span {
  color: #f4F4F4;
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
