/* REUSABLE STYLES */
html {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER TOP */
.header-upbar {
    background-color: #E5E5E5;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo_container {
    display: flex;

    .logo {
        width: 50px;
        height: 60px;
        align-self: center;
        padding: 20px 10px 20px 20px;
    }

    span {
        align-self: center;
        color: #2D4059;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
}



.right-zone {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.right-zone>p {
    font-weight: 700;
    text-align: right;
    font-size: 22px;

    @media only screen and (max-width: 768px) {
        font-size: 14px;
    }

}

.step__container {
    display: flex;
    padding-top: 20px;

    .step p {
        font-size: 14px;
        font-weight: 400;
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.icon {
    padding: 2px 9px 2px 9px;
    text-align: center;
    font-weight: 700;
    border-radius: 50%;
    background-color: #EA5455;
    color: #FFFFFF;
    margin-left: 20px;
}

/* HEADER BOTTOM */
.header-bottom {
    background-color: #2D4059;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1rem;

    @media only screen and (max-width: 768px) {
        padding: 2rem 0;
    }
}

.header-bottom__container {
    display: flex;
    margin: 0 auto;
    height: 80px;
    max-width: 1114px;
    justify-content: space-between;
    align-items: center;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    
        a {
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-weight: 400;
            margin-right: 20px;
    
            .connexion {
                padding-right: 7px;
                margin-right: 0px;
    
                i {
                    color: #FFFFFF;
                    font-weight: none;
                    margin-left: 0px;
                }
            }

            @media only screen and (max-width: 768px) {
                margin-left: 50px;
            }
        }
    
        .white-icon {
            font-size: 11px;
            padding: 3px 5px 3px 5px;
            font-weight: bold;
            text-align: center;
            border-radius: 50%;
            background-color: #FFFFFF;
            color: #EA5455;
            margin-left: 10px;
    
        }
    
        .shopping {
            display: flex;
            align-items: center;
    
            i {
                color: #FFFFFF;
                font-weight: none;
                font-size: 25px;
                margin-left: 20px;
            }

            @media only screen and (max-width: 768px) {
                margin: 0 auto;
            }
        }
    
        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            justify-content: center;
            align-content: center;
            // margin-left: 75px;
    
            a {
                max-width: 100px;
                padding: .8rem;
            }
        }
    }
}


#categories {
    background-color: #E5E5E5;
    border: none;
    border-radius: 7px;
    height: 29px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.search {
    display: flex;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

#searchbar {
    border-radius: 7px;
    width: 299px;
    height: 29px;
    border: none;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

#searchbtn {
    background: #EA5455;
    border: none;
    width: 127px;
    height: 29px;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 700;

    margin-left: 10px;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}


