@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

/* === REUSABLE STYLES === */
.title{
    margin-bottom: 2rem;
    color: #EA5455;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "montserrat", sans-serif; 
}

section{
    // border: 2px pink solid;
    margin-bottom: 6rem;
}

/* === HOMEPAGE === */

.homepage{
    margin: 3rem auto;
    max-width: 1000px;
}

/* === BEST SALES === */
.best-sales{
    display: flex;

    .fa-solid{
        margin: 2rem 0;
        font-size: 2rem;
        color:#EA5455;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
}

.title-best-sales{
    margin-left: 2rem;
}

.best-sales__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-article{
    padding: 1rem 1rem .5rem 1rem;
    margin: 0 1rem;
    border-radius: .2rem;
    box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.26);

    .image{
        width: 180px;
        height: 150px;
        background-color: rgb(80, 80, 80);
    }

    .product-article__details{
        margin-top: .5rem;

        h2{
            font-family: 'montserrat', sans-serif;
            font-weight: bold;
            font-size: .8rem;
        }

        .product-article__details__bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                font-size: .7rem;
            }

            p{
                color: #4DCF62;
            }
        }
    }
}

/* === CATEGORIES === */
.title-categories{
    margin-left: 1rem;
}

.categories{
    h2 span{
        color: black;
        font-size: .8rem;
        font-weight: 100;
        margin-left: .5rem;
    }
}

.categories__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div{
        height: 80px;
        width: 80px;

        background-color: #2D4059;
        border-radius: 30px;
        color: #E5E5E5;

        margin: .5rem 1rem;
        padding: 1rem;

        text-align: center;

        .fa-solid{
            font-size: 2rem;
            margin-top: .2rem;
            margin-bottom: .7rem;
        }

        p{
            font-weight: bold;
            font-size: .8rem;
            font-family: "montserrat", sans-serif;
        }

    }
}

/* === CHOICES === */
.title-choices{
    margin-left: 1.3rem;
}

.choices__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div{

        img{
            width: 300px;
            height: 200px;

            object-fit: cover;

            margin: 1rem;
        }

        p{
            text-align: center;
            color: #EA5455;
            font-weight: bold;
            font-size: 1rem;
            font-family: "montserrat", sans-serif;
        }

    }
}