body{
    display: flex;
    justify-content: center;

    .container-products{
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 1000px;
        text-align: center;
    
        aside{
    
            margin: 0 50px 0 6px;
    
            h1{
                font-size: 1.3rem;
                font-weight: 700;
                display: flex;
                align-items: center;
            }
        
            p{
                color: #616060;
                font-weight: 400;
                margin: 10px auto;
                display: flex;
                align-items: center;
        
                i{
                    font-size: 0.6rem;
                    margin-right: 10px;
                }
            }
        }
    
        .results{
            width: 100%;
        }
        .show_bar{
            display: flex;
            justify-content: space-between;
        
            .show_results_button{
                display: flex;
                background-color: #EA5455;
        
            }
        }
        
    }
}




